.EmployeeList{
    position: relative;
    height: 90vh;
    overflow: hidden;
}
.EmployeeList .Heads{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    position: absolute;
    top: 0vh;
    left: 0;
    border-bottom: 1px solid rgb(206, 204, 204);
    
}
.Box{
    width: calc( 100% - 10px );
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(199, 199, 199, 0.719);
    position: absolute;
    top: 7vh;
    left: 5px;
    background-color: white;
}
/* .EmployeeList .Heads li:nth-last-child(1),.Heads li:nth-child(3),.Element li:nth-last-child(1),.Element li:nth-child(3){
    width: 10%;
}
.EmployeeList .Heads li:nth-child(1),.Element li:nth-child(1){
    width: 20%;
}
.EmployeeList.Other .Heads li:nth-child(2),.EmployeeList.Other .Heads li:nth-child(3),.EmployeeList.Other .Element li:nth-child(2),.EmployeeList.Other .Element li:nth-child(3){
    width: 30%;
} */
.EmployeeList .Heads li:nth-child(1),.Element li:nth-child(1){
    width: 10%;
}
.EmployeeList .Heads li:nth-last-child(1),.Element li:nth-last-child(1){
    width: 30%;
}
.Head{
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}
.Head h1{
    padding: 0;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.Head div{
    width: 75px;
}
.Head button{
    background-color: white;
    outline: none;
    border: 2px solid #e82d96;
    color:#e82d96;
    padding: 0 13px;
    border-radius: 7px;
    height: 70%;
    font-family: 'Poppins',sans-serif;
    transition: 0.5s;
}
.Head button:hover{
    background-color: #e82d96;
    color: white;
    box-shadow: 0px 0px 5px 0px #e82d96;
}

.Heads li{
    text-align: center;
    width: 20%;
    /* font-weight: 700; */
    text-transform: uppercase;
    color: #e82d96;
    /* letter-spacing: 1px; */
}
.List{
    padding: 0;
    margin: 0;
    width: 100%;
    /* display: flex; */
    list-style: none;
    /* justify-content: space-around; */
    /* align-items: center; */
    height: 60vh;
    background-color: white;
    overflow: auto;
    margin-top: 7vh;
}
.Element{
    width: 100%;
    height: 9vh;
    text-align: center;
    border-bottom: 1px solid rgb(223, 223, 223);
    transition: 0.5s;
}
.Element:hover{
    background-color: rgb(238, 235, 235);
}
.Head{
    width: 100%;
    height: 7vh;
    /* box-shadow: 0px 0px 5px gray; */
    position: absolute;
    top: 0;
    left: 0;
}
.Element ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Element ul > li{
    width: 20%;
    text-align: center;
}