.Nav{
    position: fixed;
    top:0;
    left: 0;
    height: 7vh;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    width:100%;
    box-sizing: border-box;
    padding-right: 30px;
    font-size: 1.3em;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px grey;
    z-index: 100;
}
.Nav .Buttons{
    height: 100%;
}
.Nav button{
    background-color: white;
    outline: none;
    border: 2px solid rgb(233, 83, 83);
    color:rgb(233, 83, 83);
    padding: 0 13px;
    border-radius: 7px;
    height: 80%;
    margin: 5% 0;
    font-family: 'Poppins',sans-serif;
    transition: 0.5s;
}
.Nav button:hover{
    background-color: rgb(233, 83, 83);
    color: white;
    box-shadow: 0px 0px 5px 0px rgb(233, 83, 83);
}
.Nav>span{
    height: 100%;
    width: 250px;
    background-color: #e82d96;
    text-align: center;
    line-height: 7vh;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Nav img{
    /* width: 7vh; */
    height: 80%;
}